*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
}

.container {
    width: 98vw;
    height: 20vh;
    background-color: #fff;
    color: black;
    margin: auto;
    margin-top: 5px;
}