*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
}

.container {
    margin: 10px;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
}

.btnA{
    padding: 5px;
    margin: 15px;
    background-color: blue;
    color: white;
    border: none;
}

.btnB{
    padding: 5px;
    margin: 15px;
    background-color: #bbb9b9;
    color: white;
    border: none;
}

.container p {
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}